.activity {
  &-section {
    color: black;
    & .title-h2 {
      text-align: center;
    }

    &-topwave {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;

      & svg {
        position: relative;
        display: block;
        width: calc(124% + 1.3px);
        height: 93px;
      }

      & .shape-fill {
        fill: #152012;
      }
    }
    &-bottomwave {
      position: relative;
      bottom: -2px;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);

      & svg {
        position: relative;
        display: block;
        width: calc(124% + 1.3px);
        height: 93px;
      }

      & .shape-fill {
        fill: #273e22;
      }
    }
  }
  &-content {
    text-align: center;
  }
  &-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    @media screen and (max-width: 980px) {
      grid-template-columns: repeat(
        auto-fit,
        minmax(150px, 1fr)
      ); /* Adjust column width for smaller screens */
    }

    & img {
      width: 100%;
      height: auto;
    }
  }
}
