.hero {
  &-bottomwave {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    & svg {
      position: relative;
      display: block;
      width: calc(124% + 1.3px);
      height: 93px;
    }

    & .shape-fill {
      fill: #152012;
    }
  }
}
