html {
  background-color: #f5e1c7;
  // background-color: red;
  color: #f5e1c7;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  font-size: 16px;
}
body {
  margin: 0;
}

ul {
  list-style: none;
}

// COLORS

// $background-main-1: #18171d;
// $background-main-2: #0e0d10;
// $menu-red: #f0082b;
// $menu-hover: rgba(240, 8, 43, 0.5);
// $redError: #A30822;
